.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    /* overflow: hidden; */
    background: #fff;
    /* line-height: 20px; */
}

.treeWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .form_input {
      width: @width;
  } */

svg {
    cursor: all-scroll;
}

.centralText {
    font: 23spx sans-serif;
    fill: #222;
}

.downwardNode text,
.upwardNode text {
    font: 10px sans-serif;
}

.downwardLink {
    fill: none;
    stroke: #006eff;
    stroke-width: 1px;
    /* opacity: 0.5; */
}

.upwardLink {
    fill: none;
    stroke: #006eff;
    stroke-width: 1px;
    /* opacity: 0.5; */
}